<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Spare Parts List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Spare Parts Models List</h1>
<a th:href="@{/spares/add-model}">Add New Model of Spare Part</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Model</th>
            <th>Price</th>
            <th>Type</th>
        </tr>
        <tr th:each ="spare : ${spareParts}">
            <td th:utext="${spare.id}">...</td>
            <td th:utext="${spare.name}">...</td>
            <td th:utext="${spare.price}">...</td>
            <td th:utext="${spare.type}">...</td>
        </tr>
    </table>
</div>
</body>
</html>