<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Spare Parts List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Spare Parts Models List</h1>
</div>
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users/list}">List of Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/enterprises/list}">List of Enterprises</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/upses/list-models}">List of UPS Models</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/upses/list-examples}">List of UPS Examples</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/spares/list-models}">List of Spare Parts Models</a>
            </li>
        </ul>
    </div>
</nav>
<br/><br/>
<a th:href="@{/spares/add-model}">Add New Model of Spare Part</a>
<br/><br/>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Model</th>
            <th>Price</th>
            <th>Type</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each ="spare : ${spareParts}">
            <td th:utext="${spare.id}">...</td>
            <td th:utext="${spare.name}">...</td>
            <td th:utext="${spare.price}">...</td>
            <td th:utext="${spare.type}">...</td>
            <td> <a th:href="@{'/spares/delete/' + ${spare.id}}">Delete</a></td>
            <td> <a th:href="@{'/spares/edit?id=' + ${spare.id}}">Edit</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>