<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Welcome</h1>
<h2 th:utext="${message}">..!..</h2>

<a th:href="@{/users/list}">List of Users</a>
<a th:href="@{/enterprises/list}">List of Enterprises</a>
<a th:href="@{/upses/list-models}">List of UPS Models</a>
<a th:href="@{/upses/list-examples}">List of UPS Examples</a>
<a th:href="@{/spares/list-models}">List of Spare Parts Models</a>

</body>

</html>