<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add new Model of UPS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Add New UPS Model</h1>
</div>

</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users/list}">List of Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/enterprises/list}">List of Enterprises</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/upses/list-models}">List of UPS Models</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/upses/list-examples}">List of UPS Examples</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/spares/list-models}">List of Spare Parts Models</a>
            </li>
        </ul>
    </div>
</nav>
<br/><br/>
<div class="container">
    <form th:action="@{/upses/add-model}"
          th:object="${upsForm}"
          method="post">

        <div class="form-group form-item">
            <label for="name">Model:</label>
            <input type="text" th:field="*{name}" id="name" autofocus="autofocus" placeholder="Name">
        </div>
        <p class="error-label" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">ERROR</p>

        <div class="form-group form-item">
            <label for="price">Price:</label>
            <input type="text" id="price" th:field="*{price}" placeholder="Price">
        </div>
        <p class="error-label" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">ERROR</p>

        <div class="form-group form-item">
            <label for="type">Type:</label>
            <select class="form-control" id="type" th:field="*{type}" placeholder="Type">
                <option value="0">Select type of UPS</option>
                <option th:each="upsType : ${upsTypes}" th:value="${upsType}" th:text="${upsType}"></option>
            </select>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input type="submit" name="login-submit" id="login-submit" value="Add">
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
