<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Update Example of UPS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Edit UPS Example</h1>
</div>

</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users/list}">List of Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/enterprises/list}">List of Enterprises</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/upses/list-models}">List of UPS Models</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/upses/list-examples}">List of UPS Examples</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/spares/list-models}">List of Spare Parts Models</a>
            </li>
        </ul>
    </div>
</nav>
<br/><br/>

<div class="container">
    <form th:action="@{'/upses/edit-example?id=' + ${upsImpl.id}}"
          th:object="${upsImplForm}"
          th:method="put">

        <div class="form-group form-item">
            <label th:utext="${upsImpl.id}"></label>
        </div>

        <div class="form-group form-item">
            <label for="name">Name:</label>
            <input type="text" th:field="*{name}" id="name" autofocus="autofocus" th:placeholder="${upsImpl.name}">
        </div>
        <p class="error-label" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">ERROR</p>

        <div class="form-group form-item">
            <label for="enterprise">Enterprise:</label>
            <select class="form-control" id="enterprise" th:field="*{enterprise}" th:placeholder="${upsImpl.enterprise.name}">
                <option value="0" th:utext="${upsImpl.enterprise.name}">...</option>
                <option th:each="enterprise : ${enterprises}" th:value="${enterprise}" th:text="${enterprise}"></option>
            </select>
        </div>
        <p class="error-label" th:if="${#fields.hasErrors('enterprise')}" th:errors="*{enterprise}">ERROR</p>
        <div class="form-group form-item">
            <label for="isBroken">Broken:</label>
            <select class="form-control" id="isBroken" th:field="*{isBroken}" th:placeholder="${upsImpl.isBroken}">
                <option value="0" th:utext="${upsImpl.isBroken}">...</option>
                <option value="1" th:utext="${!upsImpl.isBroken}">...</option>
            </select>
        </div>
        <p class="error-label" th:if="${#fields.hasErrors('isBroken')}" th:errors="*{isBroken}">ERROR</p>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input type="submit" name="login-submit" id="login-submit" value="Update">
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
