<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>UPS Examples List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>UPS Examples List</h1>
</div>
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users/list}">List of Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/enterprises/list}">List of Enterprises</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/upses/models/list}">List of UPS Models</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/upses/list}">List of UPS Examples</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/spares/models/list}">List of Spare Parts Models</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/spares/nics/list}">List of Network Cards</a>
            </li>
        </ul>
    </div>
</nav>
<br/><br/>
<a th:href="@{/upses/add}">Add New Example of UPS</a>
<br/><br/>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Serial Number</th>
            <th>Model</th>
            <th>Enterprise</th>
            <th>Status</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each ="upsImpl : ${upsImples}">
            <td th:utext="${upsImpl.id}">...</td>
            <td th:utext="${upsImpl.name}">...</td>
            <td th:utext="${upsImpl.serialNumber}">...</td>
            <td th:utext="${upsImpl.ups.name}">...</td>
            <td th:utext="${upsImpl.enterprise.name}">...</td>
            <td th:utext="${upsImpl.isBroken} ? 'broken' : 'in work'">...</td>
            <td> <a th:href="@{'/upses/delete/' + ${upsImpl.id}}">Delete</a></td>
            <td> <a th:href="@{'/upses/edit?id=' + ${upsImpl.id}}">Edit</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>